@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }

  .project-logo {
    display: none;
  }

  .desktop-nav {
    display: block;
    background: #fff;
    padding-bottom: 0.8rem;
  }

  .socials {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    background: #3e3e3e;
    padding: 1.2rem 0;
    padding-right: 13%;
  }

  footer img {
    width: 12rem;
    height: 12rem;
  }

  .socials img {
    height: 1.8rem;
  }

  .socials a {
    color: #fff;
    font-size: 1.2rem;
  }

  .hero {
    background: none;
  }

  main {
    background: #fdfdfd url(../images/background.png) no-repeat;
    background-size: auto;
    background-position: center top;
  }

  .index-partners ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 3.6rem;
    gap: 4.8rem;
  }

  footer div {
    width: 50%;
    padding: 6.4rem 0;
  }

  .desktop-nav div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 11%;
    padding-right: 13%;
  }

  .desktop-nav div img {
    display: inline;
    height: 6.4rem;
  }

  .experts ul {
    max-width: 74%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.8rem;
  }

  .desktop-nav div ul {
    display: flex;
    gap: 6.4rem;
  }

  .desktop-nav div a {
    color: #868686;
    font-size: 1.4rem;
    font-weight: 800;
  }

  .desktop-nav div li:first-child a {
    color: #f07f7e;
  }

  .desktop-nav div li:last-child a {
    color: #ec4327;
    border: 5px solid #ec4327;
    padding: 1.2rem 1rem;
  }

  body {
    background: #ededee;
  }

  h1 {
    font-size: 4.8rem;
  }

  .hero {
    width: 51%;
    margin-left: 21%;
    padding-top: 3.2rem;
    padding-bottom: 12rem;
  }

  .hero q {
    font-size: 2.4rem;
  }

  .hero h1 {
    font-weight: 900;
    margin-bottom: 4.8rem;
  }

  .hero .intro {
    color: #515151;
    font-size: 2.5rem;
    line-height: 3.6rem;
    letter-spacing: -0.3px;
  }

  .hero .schedule {
    font-size: 4.2rem;
    font-weight: 900;
    line-height: 0px;
    letter-spacing: -0.34rem;
    padding-bottom: 3.2rem;
    margin-top: 6.4rem;
  }

  .hero .venue {
    color: #868686;
    font-size: 2rem;
    font-weight: 700;
    line-height: 0;
    letter-spacing: -0.6px;
  }

  .main-program h2 {
    font-size: 3.2rem;
    line-height: 2.8rem;
    letter-spacing: -0.3px;
    padding: 7.5rem 0 1.2rem;
  }

  .main-program hr {
    margin-bottom: 7rem;
    width: 4.2%;
  }

  .programs {
    max-width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 3px;
  }

  .programs article {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.4rem;
    margin: 0;
    text-align: center;
    transition: all 0.5s;
  }

  .programs article:hover {
    border: 2px solid #fff;
  }

  .programs article img {
    width: 6.4rem;
    margin: 0;
  }

  .programs article h3 {
    width: 100%;
    color: #ff5438;
    font-size: 24px;
    font-weight: 700;
    line-height: 2.8rem;
    letter-spacing: -0.24px;
  }

  footer p {
    color: #000;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.4rem;
    letter-spacing: -0.14px;
    padding-top: 1.2rem;
  }

  .programs article p {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 2.4rem;
    letter-spacing: 0.72px;
    padding: 0 1rem;
  }

  .join {
    display: none;
  }

  .see-all {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.8rem;
    letter-spacing: -0.2px;
    text-decoration-line: underline;
  }

  .experts {
    margin-bottom: 7.4rem;
  }

  .experts h2 {
    font-size: 3rem;
    line-height: 2.8rem;
    letter-spacing: -0.3px;
    padding-bottom: 1.2rem;
  }

  .experts article {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2.4rem;
  }

  .experts article img {
    width: 14rem;
  }

  .experts article h3 {
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: -0.48px;
  }

  .experts article .expertise {
    color: #f78c89;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.1rem;
    letter-spacing: -0.8px;
  }

  .experts article .affiliation {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.4rem;
    letter-spacing: -0.7px;
  }

  .index-partners {
    display: block;
  }

  .index-partners h2 {
    color: #8f8f91;
    font-size: 3rem;
    line-height: 2.8rem;
    letter-spacing: -0.3px;
    margin: 3.6rem 0 6.4rem;
  }

  .partner {
    margin-top: 0;
  }

  .partners-about {
    display: none;
  }

  .home-footer,
  .about-footer {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6.4rem;
  }

  .about-additional {
    display: inline-block;
  }
}
