* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
}

.hidden {
  display: none;
}

.mobile-nav img:first-child {
  width: 3.1rem;
  position: absolute;
  top: 1.7rem;
  left: 2.3rem;
  cursor: pointer;
}
