* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
}

.hidden {
  display: none;
}

.mobile-menu {
  display: inline-block;
  width: 3.1rem;
  margin-top: 1.7rem;
  margin-left: 6%;
  cursor: pointer;
}

.project-logo {
  display: inline-block;
  width: 13rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0.8rem;
}

.hero {
  width: 92%;
  margin: 10.9rem auto 7.1rem;
}
