* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.hidden {
  display: none;
}

.mobile-menu {
  display: inline-block;
  width: 3.1rem;
  margin-top: 1.7rem;
  margin-left: 6%;
  cursor: pointer;
}

.project-logo {
  display: inline-block;
  width: 13rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0.8rem;
}

.hero {
  margin: 2rem auto 0;
  padding: 8rem 4% 6.4rem;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.hero q,
h1 {
  color: #fc1704;
  /* color: #740402; */
  margin-bottom: 6.4rem;
}

.hero q {
  font-size: 1.8rem;
}

h1 {
  font-size: 2.4rem;
  font-weight: 900;
  width: 73%;
}

.intro {
  color: #515151;
  font-size: 1.2rem;
  padding: 1.6rem;
  line-height: 1.7rem;
  letter-spacing: -0.12px;
  border: 4px solid #fff;
  background: #f8f8f8;
  margin-bottom: 3.6rem;
}

.schedule {
  color: #595959;
  font-family: 'Gothic A1';
  font-size: 2rem;
  font-weight: 900;
  line-height: 2px;
  letter-spacing: -1.6px;
}

.venue {
  color: #868686;
  font-family: Gothic A1;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -0.26px;
}

.main-program {
  background: #282b32;
  padding-bottom: 3.6rem;
}

.main-program h2 {
  color: #fff;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: -0.8px;
  text-align: center;
  padding: 3.2rem 0 5.6rem;
}

.programs {
  display: flex;
  flex-direction: column;
  gap: 0.24rem;
  padding-bottom: 3.6rem;
}

.programs article {
  background: #3b3e45;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 0.8rem 0;
  margin: 0 1.2rem;
}

.programs article img {
  width: 4.8rem;
  margin-left: 1.2rem;
}

.programs article h3 {
  display: block;
  width: 25%;
  color: #ff5438;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: -0.143px;
}

.programs article p {
  width: 70%;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.6px;
  padding-right: 1rem;
}

.join {
  display: block;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  color: #fff;
  padding: 2rem 0;
  font-size: 16px;
  font-weight: 900;
  line-height: 2.8rem;
  letter-spacing: -0.16px;
  background: #ff4f38;
}

.join:hover {
  color: #fff;
}

.instructors {
  padding: 0 3%;
}

.instructors h2 {
  color: #000;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: -1px;
  padding-top: 3.6rem;
  text-align: center;
}

.instructors hr {
  width: 10%;
  display: block;
  margin: 0 auto;
  background: #a04038;
  height: 3px;
  margin-bottom: 3.2rem;
}

.instructors article {
  display: flex;
  justify-content: center;
  gap: 1.4rem;
}

.instructors article img {
  width: 9rem;
  height: 9rem;
}

.instructors article h3 {
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.3px;
}

.instructors article .first {
  color: #f78c89;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: -0.2px;
  line-height: 1.5rem;
}

.instructors article .second {
  color: #000;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1.4rem;
  letter-spacing: -0.5px;
}

.hero,
.about-main {
  text-align: center;
}

.partners {
  background: #414246;
}

.partners h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: -0.2px;
  text-align: center;
  padding: 4.8rem 0 6.4rem;
}

.partners ul {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-bottom: 4rem;
}

.partners img {
  height: 3.2rem;
}

footer {
  display: flex;
  justify-content: center;
  gap: 3.2rem;
  margin: 2.8rem 7%;
}

footer img {
  width: 13.5rem;
  height: 3.2rem;
}
